<% include ./partials/header %>
<br>
<div class ="container">
        <center>
            <a class="btn btn-primary btn-large" href="/home/<%= user %>/edit/UserProfile">Update TIJN User Profile</a>
            <br><br>
            <a class="btn btn-success btn-large" href="/home/<%= user %>/edit/UserBanks">Add/Remove Bank</a>
            <br><br>
            <a class="btn btn-warning btn-large" href="/home/<%= user %>/edit/UserBanks">Update TIJN Primary Bank Details</a>
            <br><br>
            <a class="btn btn-danger btn-large" href="/home/<%= user %>/edit/UserBanks">Add Balance to Primary Bank</a>
        </center>>
</div>
<% include ./partials/footer %>