<%include ./partials/header%>
<div class="container">
    <br><br>
    <img id="land_img" src="https://i2.wp.com/njitvector.com/wp-content/uploads/2018/05/NJIT_Highlanders_logo.svg_.png?fit=1200%2C1051" class="rounded mx-auto d-block" alt="...">
    <div id="landing-header" style="text-align: center">
        <br><br>
 		<h1><i class="fas fa-wallet"></i> TIJN! <i class="fas fa-hand-holding-usd"></i></h1>
		<a href="/login" class="btn btn-lg btn-warning">Login</a>
		<a href="/register" class="btn btn-lg btn-warning">Register</a>
    </div>
</div>
    <br><br>
<div id="patch">
    <br>
    <div class="row">
    <div class="col-md-4">
        <img src="http://pluspng.com/img-png/man-using-computer-png-cartoon-business-man-working-with-computer-800.png" class="rounded float-left" alt="...">
    </div>
    <div class="col-md-4">
        <img src="http://s.cafebazaar.ir/1/upload/icons/mehran.sunofgod7.project.value.png" class="rounded mx-auto d-block" alt="...">
    </div>
    <div class="col-md-4">
        <img src="http://www.pngall.com/wp-content/uploads/1/Bank-PNG-File.png" class="rounded float-right" alt="...">
    </div>
    </div>
    </div>
<% include ./partials/footer %>